
[V200R003C00]
#
 sysname R1
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 undo info-center enable
#
 lldp enable 
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
isis 1
 is-level level-2
 network-entity 49.0002.0000.0000.0001.00
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 10.1.13.1 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip address 10.1.14.1 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
ospf 1 router-id 1.1.1.1 
 preference route-policy set-pre 10 
 preference ase route-policy set-pre 150 
 area 0.0.0.0 
  network 10.1.13.1 0.0.0.0 
#
route-policy set-pre permit node 10 
 if-match ip-prefix 0-3 
 apply preference 13 
#
route-policy set-pre permit node 20 
 if-match ip-prefix 4-5 
 apply preference 8 
#
ip ip-prefix 0-3 index 10 permit 10.1.0.0 24
ip ip-prefix 0-3 index 20 permit 10.1.3.0 24
ip ip-prefix 0-3 index 30 permit 10.1.1.0 24
ip ip-prefix 0-3 index 40 permit 10.1.2.0 24
ip ip-prefix 4-5 index 10 permit 10.1.4.0 24
ip ip-prefix 4-5 index 20 permit 10.1.5.0 24
#
user-interface con 0
 authentication-mode password
 idle-timeout 88 0
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return