
[V200R003C00]
#
 sysname R4
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
ip local policy-based-route 1
#
 undo info-center enable
#
 lldp enable 
#
 set cpu-usage threshold 80 restore 75
#
acl number 3000  
 rule 5 permit ip source 10.4.4.4 0 destination 10.1.0.5 0 
acl number 3001  
 rule 5 permit ip source 192.168.0.6 0 destination 10.1.0.5 0 
#
traffic classifier 6-5 operator or
 if-match acl 3001
#
traffic behavior 6-5
 redirect ip-nexthop 10.1.14.1
#
traffic policy 6-5
 classifier 6-5 behavior 6-5
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
isis 1
 is-level level-2
 network-entity 49.0002.0000.0000.0004.00
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 10.1.14.4 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet0/0/1
 ip address 10.1.24.4 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet0/0/2
 ip address 10.1.46.4 255.255.255.0 
 isis enable 1
 traffic-policy 6-5 inbound
#
interface NULL0
#
interface LoopBack0
 ip address 10.4.4.4 255.255.255.255 
 isis enable 1
#
user-interface con 0
 authentication-mode password
 idle-timeout 88 0
user-interface vty 0 4
user-interface vty 16 20
#
policy-based-route 1 permit node 10
 if-match acl 3000
 apply ip-address next-hop 10.1.14.1  
#
wlan ac
#
return