
[V200R003C00]
#
 sysname R6
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 undo info-center enable
#
 lldp enable 
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
isis 1
 is-level level-2
 network-entity 49.0002.0000.0000.0006.00
 import-route direct route-policy xiaoer 
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 10.1.46.6 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
interface LoopBack0
 ip address 192.168.0.6 255.255.255.0 
#
interface LoopBack1
 ip address 192.168.1.6 255.255.255.0 
#
interface LoopBack2
 ip address 192.168.2.6 255.255.255.0 
#
interface LoopBack3
 ip address 192.168.3.6 255.255.255.0 
#
interface LoopBack4
 ip address 192.168.4.6 255.255.255.0 
#
interface LoopBack5
 ip address 192.168.5.6 255.255.255.0 
#
route-policy xiaoer permit node 10 
 if-match ip-prefix 1 
#
ip ip-prefix 1 index 10 permit 192.168.0.0 22 greater-equal 22 less-equal 24
ip ip-prefix 1 index 20 deny 0.0.0.0 0 less-equal 32
#
user-interface con 0
 authentication-mode password
 idle-timeout 88 0
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return