
[V200R003C00]
#
 sysname R5
#
 board add 0/1 1GEC 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 undo info-center enable
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
isis 1
 is-level level-2
 network-entity 49.0001.0050.0500.5005.00
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 10.1.35.5 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet0/0/1
 ip address 10.1.56.5 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet0/0/2
 ip address 10.1.57.5 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet1/0/0
 ip address 10.1.58.5 255.255.255.0 
#
interface NULL0
#
interface LoopBack0
 ip address 5.5.5.5 255.255.255.255 
 isis enable 1
#
bgp 20
 peer 7.7.7.7 as-number 20 
 peer 7.7.7.7 connect-interface LoopBack0
 peer 10.1.58.8 as-number 30 
 #
 ipv4-family unicast
  undo synchronization
  peer 7.7.7.7 enable
  peer 7.7.7.7 next-hop-local 
  peer 10.1.58.8 enable
  peer 10.1.58.8 route-policy LP import
#
route-policy LP permit node 10 
 if-match as-path-filter 30 
 apply local-preference 200 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return