
[V200R003C00]
#
 sysname R7
#
 board add 0/1 1GEC 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 undo info-center enable
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
isis 1
 is-level level-2
 network-entity 49.0001.0070.0700.7007.00
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 10.1.37.7 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet0/0/1
 ip address 10.1.57.7 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet0/0/2
 ip address 10.1.47.7 255.255.255.0 
 isis enable 1
#
interface GigabitEthernet1/0/0
 ip address 10.1.67.7 255.255.255.0 
 isis enable 1
#
interface NULL0
#
interface LoopBack0
 ip address 7.7.7.7 255.255.255.255 
 isis enable 1
#
bgp 20
 peer 3.3.3.3 as-number 20 
 peer 3.3.3.3 connect-interface LoopBack0
 peer 4.4.4.4 as-number 20 
 peer 4.4.4.4 connect-interface LoopBack0
 peer 5.5.5.5 as-number 20 
 peer 5.5.5.5 connect-interface LoopBack0
 peer 6.6.6.6 as-number 20 
 peer 6.6.6.6 connect-interface LoopBack0
 #
 ipv4-family unicast
  undo synchronization
  reflector cluster-id 20
  peer 3.3.3.3 enable
  peer 3.3.3.3 reflect-client
  peer 4.4.4.4 enable
  peer 4.4.4.4 reflect-client
  peer 5.5.5.5 enable
  peer 6.6.6.6 enable
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return